h1{
    color: blue;
    background-color: azure;
    text-align: center;
    text-transform: uppercase;
}
.areaBonita {
    border: 1px;
    border-radius: 10%;
    background-color: #d8dae6;
    color: #4c4d52;
    height: 40px;
    width: 450px;
    font-size: 20px;

}
label {
    padding-right: 10px;
}